/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/assets
/public/geojson
/public/plot
/storage/*.key
/storage/public/classification
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
